/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter';
    --accent-font-family: 'PressStart2P';
    --main-text-weight: 400;
    --title-weight: 700;
    --main-font-size: 18px;
    --button-font-size: 14px;
    --main-text-color: #000;
    --accent-text-color: #fff;
    --main-border-color: #000;
    --text-stroke-color: rgba(255, 255, 255, 0.5);
    --background-color: #fff;
    --heart-contour-color: #000;
    --heart-hover-color: #000;
    --heart-fill-color: #ff0000;
    --heart-default-color: #fff;
}